$common-max-width: 800px;
$common-min-width: 200px;
$right-area-width: 250px;

.user-exam-container {
  // background-image: linear-gradient(to right, #ffffff, #e4f2ff, #b4eaff, #7de3e9, #66d9b8);
  background-image: linear-gradient(120deg, #ffffff, #ffffff, #ffffff, #e4f2ff, #b4eaff, #7de3e9, #66d9b8);
  min-height: 100vh;
  .MainArea {
    margin-left: 10px;
    margin-right: 10px;
    // margin-top: 10vh;

    .right-area {
      position: fixed;
      width: $right-area-width;
      height: 100vh;
      z-index: 2000;

      right: 0;
      top: 0;
      background-color: white;

      box-shadow: 0px 3px 2px 2px gainsboro;
      .full-container {
        position: relative;
        top: 5px;
        .title-area {
          position: fixed;
          z-index: 2;
          background-color: white;
          width: 100%;
          .title {
            padding: 5px;
            padding-top: 10px;
            padding-bottom: 10px;
            background-color: #66d9b8;
            width: 220px;
            margin-left: 10px;
            margin-right: 10px;
            // margin: auto;
            box-shadow: 0px 3px 2px 2px gainsboro;
            text-align: center;
            border-radius: 5px 5px;
            color: white;
            p {
              margin: 2px;
            }
          }

          .question-divider {
            margin: 24px 5px 24px 5px;
            position: relative;
            margin-bottom: 24px;
            padding-top: 12px;
            clear: both;
            border-bottom: 1px solid #d8d8d8;
            z-index: 1000;
            .divider-text {
              position: absolute;
              color: #6b7c93;
              left: 4%;
              top: 1px;
              background-color: #fff;
              padding: 2px 4px;
              font-size: 11px;
            }
          }
        }

        .list-title-question-area {
          overflow-y: scroll;
          z-index: 1;
          position: relative;
          top: 170px;
          max-height: 80vh;
        }
      }
    }

    .greeting-area {
      padding: 30px;
      background-color: #66d9b8;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 20px;
      max-width: $common-max-width;
      min-width: $common-min-width;
      color: white;
      box-shadow: 0px 3px 2px 2px gainsboro;
      text-align: center;
      border-radius: 40px 40px;
    }

    .time-container {
      #timeArea {
        z-index: 1100;
        margin: auto;
        color: red;
        max-width: $common-max-width;
        min-width: $common-min-width;
        background-color: white;
        box-shadow: 0px 5px 20px 10px gainsboro;
        text-align: center;
        p {
          padding: 10px;
        }
      }

      .sticky {
        z-index: 1100;
        position: fixed;
        top: 9vh;

        p {
          margin: 0px;
        }
      }
    }

    .main-content {
      width: calc(100% - 250px);
      .question-area {
        margin: auto;
        // max-width: $common-max-width;
        // min-width: $common-min-width;
        min-height: 72vh;
      }
      .footer-exam {
        margin: auto;
        width: 100px;
        // margin-left: auto;
        // margin-right: auto;
      }
    }
  }
}

.sticky + .content {
  //   padding-top: 60px;
}
