.exam-rules-container {
    font-size: 1rem;
    .card {
        .card-header {
            background-color: #66d9b8;
        }
        .card-body {
            background-color: white;
        }
    }
}
